@charset "utf-8";
/* CSS Document */

 h1 {
    padding: 1em;
    color: Black;
    background-color: lightblue;
    clear:left;
    text-align: center;
    }

 body {
     background-image:url(GrassSkies.jpg);
     color: lightblue;
}
